<% provide(:title, "Home") %>

<div class="center jumbotron">

  <!-- ロゴ -->
  <p><%= link_to image_tag("logo.png", size: '128x128', alt: "Icon"), '#' %></p>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">

        <!-- ログインフォーム -->
        <%= form_for(:session, url: login_path ) do |f| %>
          <%= f.text_field :name, :maxlength => "20", :placeholder => "Name"%>
          <%= f.password_field :password, :placeholder => "Password" %>
          <%= f.submit "Log in", class: "btn btn-primary" %>
        <% end %>

      <!-- サインイン -->
      <p><%= link_to "Create account", signup_path %></p>

    </div>
  </div>

</div>