<li id="task-<%= task.id %>">
    <% if current_user?(task.user) %>

      <!-- チェックボックス -->
      <%= link_to task, method: :put, data: { confirm: "Done?"} do %>
        <i class="far fa-circle"></i>
      <% end %>

      <%= task.content %>



      <!-- Task削除ボタン -->
      <%= link_to task, method: :delete, data: { confirm: "You sure?" } do %>
        <i class="far fa-times-circle"></i>
      <% end %>

    <!-- 他人のタスク表示時 -->
    <% else %>
      <span class="content"><%= task.content %></span>
    <% end %>

  <%= render "likes/like", task: task %>

</li>
