<li id="task-<%= task.id %>">
  <!-- <span class="user"><%= link_to task.user.name, task.user %></span> -->
  <span class="content"><%= task.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(task.created_at) %> ago.

    <!-- Task削除リンク -->
    <% if current_user?(task.user) %>
      <%= link_to "delete", task, method: :delete, data: { confirm: "You sure?" } %>
    <% end %>

  </span>
</li>