<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>

    <!-- Railsがデフォルトで生成するheadタグ パーシャル -->
    <%= render 'layouts/rails_default' %>

    <!-- IE9以前対応 パーシャル -->
    <%= render 'layouts/shim' %>

  </head>

  <body>

    <!-- ヘッダ パーシャル -->
    <%= render 'layouts/header' %>

    <!-- メインコンテンツ -->
    <div class="container">
      <%= yield %>

      <!-- フッター パーシャル -->
      <%= render 'layouts/footer' %>

    </div>
  </body>

</html>
